<div class="row">
  <div *ngFor="let product of products" class="col-md-3 mb-3">
    <div class="card">
      <img [src]="product.image" class="card-img-top h-25 w-50 mx-auto ">
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">Fiyat: {{ product.price }} ₺</p>
        <button class="btn btn-primary" (click)="addToCart(product)">Sepete Ekle</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Sepet</h2>
    <div class="card">
      <ul class="list-group list-group-flush">
        <li *ngFor="let item of cartItems" class="list-group-item">
          <div class="d-flex justify-content-between align-items-center">
            <span>{{ item.title }}</span>
            <span>Adet {{ item.quantity }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
