.cart-container {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  margin-top: 15px;

  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }

  .cart-item {
    border-bottom: 1px solid #eee;
    padding: 10px 0;

    &:last-child {
      border-bottom: none;
    }

    p {
      margin: 5px 0;
      color: #555;

      &:first-child {
        font-weight: bold;
      }
    }
  }
}
